body.signin-body{
   background-color: #e6f2ff;
   margin: 10;
}
.container.signin-container{
    margin: 5%;
}
.card.signin-card{
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0,0, .5);
    -webkit-box-shadow:2px 2px 5px rgba(0, 0,0, .5);
}
img.signin-image{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}
form.signin-form{
    max-width: 350px;
    margin: auto;
    padding: 10px;
}
button.signin-btn{
    color:#ffffff;
    background-color: #d64829;
    width: 100%;
    margin: 10px;
    margin-bottom: 1.2rem;
}
.form-control{
    margin: 10px;
}
.form-check-label{
    margin-left: 13px;
}
a.under{
    text-decoration: none;
}
a.Create-new-account{
    font-size: 1.2rem;
    /*centre*/
    text-align: center;
    display: block;
    margin-top: 15px;

}
